.apply {
    .progress-line {
        margin-top: 2px;
    }

    .timeline {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 9px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: #C1C1C1;
        }

        &-pointer {
            position: relative;
            color: #C1C1C1;

            p {
                padding-top: 24px;
                margin-bottom: 0;
                line-height: 1.5;
            }

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 20px;
                height: 20px;
                border: 1px solid #C1C1C1;
                border-radius: 50%;
                background-color: #2D2D2D;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                z-index: 1;
            }

            &.step-1::before {
                content: '1';
            }

            &.step-2::before {
                content: '2';
            }

            &.step-3::before {
                content: '3';
            }

            &.active {
                color: $primary;

                &::before {
                    color: #FFFFFF;
                    background-color: $primary;
                    border-color: $primary;
                }
            }
        }
    }

    .content {
        padding: 48px 12px 144px;
        background-color: black;
    }

    .apply-container {
        max-width: 856px;
        margin-right: 8%;
        margin-left: 32%;
        padding: 48px 32px 48px 114px;

        ul {
            gap: 16px;
        }

        li {
            border: $gray-600 solid 1px;
            border-radius: 8px;
            cursor: pointer;
        }

        li:hover {
            border: $primary solid 1px;
            color: $primary;
        }

        input,
        select {
            color: white;
            background-color: #1C1C1C;
            border: 1px solid white;
            border-radius: 4px;
        }

    }

    .info {
        background-color: #2D2D2D;
        width: 30%;
        top: 350px;
        left: 100px;

        img {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            border: 3px solid $primary;
        }

        h2 {
            font-size: 18px;
            position: relative;
        }

        h3 {
            font-size: 16px;
            color: $primary;
        }
    }

    @include media-breakpoint-down(lg) {
        .info {
            position: static !important;
            margin: auto;
            margin-top: 24px;
            width: 95%;
        }

        .apply-container {
            margin: auto;
            padding: 24px;

            ul {
                flex-wrap: wrap;
            }

            li {
                width: 48.5%;
                text-align: center;
            }

            h3 {
                text-align: center;
            }

            .btm {
                flex-direction: column;
                align-items: flex-start !important;

                a {
                    width: 100%;
                    margin-top: 24px;
                }
            }
        }
    }
}